.footer {
  position: relative;
  background-color: var(--wedding-navy-dark);
  height: 106px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-display);
  color: white;
  padding-inline: 48px;
  font-size: 0.875rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-title {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-contact-caro {
  letter-spacing: 2px;
  line-height: normal;
}

.footer-content-mathi {
  text-align: end;
  letter-spacing: 2px;
  line-height: normal;
}

/* Responsive */
@media (max-width: 768px) {
}
