.gift-section {
  position: relative;
  width: 100%;
  text-align: center;
  background-image: url("/src/assets/gift-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  height: 680px;
}

.gift-container {
  max-width: 50vw;
  margin: 0 auto;
}

.gift-title {
  font-size: 5rem;
  font-family: var(--font-cursive);
  color: var(--wedding-navy-dark);
  line-height: normal;
  margin-bottom: 16px;
}

.gift-paragraph-text {
  font-family: var(--font-display);
  color: var(--wedding-navy-dark);
  line-height: 1.25;
}

.gift-main-text {
  font-family: var(--font-display);
  color: var(--wedding-navy-dark);
  max-width: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 16px;
}

.gift-intro-text {
  margin-top: 16px;
}

.gift-thanks-text {
  font-size: 2rem;
  font-family: var(--font-cursive);
  color: var(--wedding-navy-dark);
}

/*  */
.gift-account {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 8px 0;
  border-bottom: 1px solid var(--wedding-rose-gold);
}

.gift-account:last-child {
  border-bottom: none;
}

.gift-account-text {
  display: flex;
  flex-direction: column;
}

.gift-account-label {
  font-size: 0.75rem;
  color: var(--wedding-rose-dark);
  text-align: left;
}

.gift-account-value {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--wedding-navy-dark);
}

.gift-accounts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 24px;
  border: 3px solid var(--wedding-rose-dark);
  box-shadow: 0 2px 4px rgba(210, 147, 147, 0.25);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);

  border-radius: 16px;
  padding: 24px;

  transition:
    transform 280ms ease,
    box-shadow 280ms ease;
  will-change: transform;
}

.gift-accounts-grid:hover {
  transform: scale(1.007) translateY(-2px);
  box-shadow: 0 8px 20px rgba(210, 147, 147, 0.3);
}

.gift-person-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gift-person-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--wedding-navy-dark);
  font-family: var(--font-cursive);
  line-height: normal;
}

@media (max-width: 768px) {
  .gift-section {
    height: fit-content;
    background-size: auto;
    margin: 24px 0;
  }

  .gift-container {
    max-width: 100vw;
  }

  .gift-thanks-text {
    font-size: 1.75rem;
  }

  .gift-main-text {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 24px;
  }

  .gift-accounts-grid {
    grid-template-columns: 1fr;
  }
}
