.countdown-section {
  width: 100%;
  height: 195px;  
  background-image: url('../../../assets/blue_background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.countdown-section-countdown {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cardo", sans-serif;
}

.countdown-section-title {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.3em;
  color: #fff;
  font-family: "Cardo", sans-serif;
}