.countdown-section {
  width: 100%;
  height: 800px;
  background-image: url("../../../assets/countdown_section.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;
  gap: 48px;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.countdown-section-countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.countdown-section-title {
  font-size: 5.75rem;
  color: var(--wedding-rose-gold);
  line-height: normal;
}

.countdown-section-subtitle {
  font-size: 1rem;
  color: var(--wedding-navy-dark);
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .countdown-section {
    height: 500px;

    background-image: url("../../../assets/countdown_section_mobile.png");
    background-position: center top;
    background-size: contain;

    flex-direction: column;
    gap: 24px;
  }
}
