.rsvp-section {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.rsvp-section-content {
  position: relative;
  z-index: 1;

  background-image: url("/src/assets/rsvp_background.jpg");
  background-repeat: no-repeat;

  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsvp-section-title {
  font-family: var(--font-cursive);
  font-size: 2.75rem;
  line-height: normal;
  color: var(--wedding-navy-light);
}

.rsvp-section-text {
  font-size: 1rem;
  margin: 2rem 0rem;
  color: var(--wedding-navy-light);
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: normal;
  max-width: 90%;
}

.rsvp-section-form {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .rsvp-section-content {
    height: 800px;
  }

  .rsvp-section-title {
    font-size: 2.75rem;
    line-height: normal;
  }

  .rsvp-section-text {
    font-size: 1rem;
    line-height: normal;
    max-width: 100%;
    margin: 0rem 0rem 3rem 0rem;
  }

  .rsvp-section-title {
    font-size: 5.25rem;
  }

  .rsvp-section-form {
    width: 100%;
    max-width: 40%;
    margin-inline: auto;
  }
}
