/* === RSVP SECTION === */
.rsvp {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

/* === BACKGROUND === */
.rsvp-bg {
  position: absolute;
  inset: 0;
  width: 100%;
}

.rsvp-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

/* === CONTENT === */

.rsvp-content {
  position: relative;
  z-index: 1;

  background-image: url("/src/assets/rsvp_background.jpg");
  background-repeat: no-repeat;

  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* === TYPOGRAPHY === */

.rsvp-title {
  font-family: var(--font-cursive);
  font-size: 2.5rem;
  line-height: normal;
  color: var(--wedding-navy-light);
}

.rsvp-text {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: var(--wedding-navy-light);
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: normal;
}

/* === FORM WRAPPER === */

.rsvp-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* === RESPONSIVE === */
@media (min-width: 640px) {
  .rsvp-title {
    font-size: 2.75rem;
    line-height: normal;
  }
  .rsvp-text {
    font-size: 1rem;
    line-height: normal;
  }
}

@media (min-width: 768px) {
  .rsvp-title {
    font-size: 5.25rem;
  }
}
