.countdown-section {
  display: flex;
  flex-direction: column;
}

.countdown-container-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.countdown-numbers {
  font-size: 4rem;
  font-weight: 700;
  color: var(--wedding-navy-dark);
  line-height: normal;
}

.countdown-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-numbers-text {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--wedding-navy-dark);
}

@media (max-width: 768px) {
  .countdown-container-date {
    gap: 10%;
  }
  .countdown-numbers {
    font-size: 2rem;
  }
}
