.celebration-section {
  position: relative;
  height: 630px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: url("/src/assets/dress-code-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.celebration-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.celebration-title {
  font-family: var(--font-cursive);
  font-size: 5rem;
  line-height: normal;
  color: var(--wedding-navy-light);
  padding-top: 24px;
}

.celebration-text {
  font-size: 2rem;
  font-family: var(--font-display);
  font-weight: 500;
  color: var(--wedding-navy-light);
  letter-spacing: 2px;
}

.celebration-text-info {
  font-size: 1rem;
  font-family: var(--font-display);
  font-weight: 500;
  color: var(--wedding-navy-light);
  letter-spacing: 2px;
  width: 88vw;
}

.celebration-message {
  font-size: 1rem;
  font-family: var(--font-display);
  font-weight: 700;
  color: var(--wedding-rose-dark);
  letter-spacing: 2px;
  padding: 24px;
  margin-bottom: 48px;
}

@media (max-width: 640px) {
  .celebration-section {
    background-image: none;
    background-image: url("/src/assets/dress-code-mobile.png");
    height: 620px;
  }

  .celebration-content {
    gap: 16px;
    margin-top: 48px;
  }

  .celebration-title {
    font-size: 3rem;
  }

  .celebration-text {
    font-size: 2rem;
  }

  .celebration-text-info {
    font-size: 1rem;
    max-width: 70vw;
    line-height: 20px;
  }

  .celebration-message {
    max-width: 70vw;
  }
}
